include ../../mixins/button
include ../../mixins/screenLogo

section(id="about").About
  div.About__Wrap
    +ScreenLogo().About__Logo
    h2.About__Title ABOUT OUR FRIENDLY SPACE
    p.About__Text
      | If you want to start a new business and you need an address for a company seat, then you are
      | at the right place. We are located in Nea Smyrni of Athens, 50 meters from the Central Park
      | and 150 meters from the Central Square.
      br
      br
      | We also offer fully equipped offices for rent (hourly/daily/monthly), space for seminars
      | for up to 15 people and accounting services.

    +Button("learn-more-button", "hollow", true).About__Button LEARN MORE
