mixin Benefit(index, title)
  div(class="Benefit " + attributes.class)
    div.Benefit__Image
      img(src="images/svg/benefits" + index + ".svg" alt="SkyRocket benefit")
    p.Benefit__Title= title

section.Benefits
  div.Benefits__Wrap
    h2.Benefits__Title BENEFITS
    div.Benefits__List
      +Benefit(1, "Easy Access").Benefits__Benefit
      +Benefit(2, "Always Available").Benefits__Benefit
      +Benefit(3, "Mail Management").Benefits__Benefit
      +Benefit(4, "Modern Open Design").Benefits__Benefit
      +Benefit(5, "Insanely Fast Internet").Benefits__Benefit
      +Benefit(6, "HD Projector").Benefits__Benefit
      +Benefit(7, "Conference Room").Benefits__Benefit
      +Benefit(8, "Group Events").Benefits__Benefit
