include ../../mixins/button
include ../../mixins/askForCallModal

section.Main
  div.Main__Wrap
    p.Main__Advantages COMPANY SEAT  |  ACCOUNTING  |  OFFICE SPACE  |  SEMINARS
    h1.Main__Title START YOUR BUSINESS
    +Button("call-button").Main__Button.call-button ASK FOR CALL
    button(id="down-button" data-target="about").Main__DownBtn
    +AskForCallModal("call-form")
