section.Space
  div.Space__Wrap
    h2.Space__Title CREATIVE SPACE WILL HELP YOU
    h3.Space__SubTitle.hide-xs SKYROCKET YOUR BUSINESS
    h3.Space__SubTitle.show-xs
      span SKYROCKET
      span YOUR BUSINESS
