include ../../mixins/button
include ../../mixins/input
include ../../mixins/contactLogo
include ../../mixins/recaptcha

section.Subscribe
  div.Subscribe__Wrap
    +ContactLogo().Subscribe__Logo
    h2.Subscribe__Title SUBSCRIBE TO OUR NEWSLETTER
    form.Subscribe__Form.send-form
      +Input("subscribe-input", "Your Email").Subscribe__Input
      +ReCaptcha("subscribe-recaptcha")
      +Button("subscribe-button")(type="submit").Subscribe__Button SUBSCRIBE
