.ServicesMain {

  border-top: 1px solid rgba($dark, .2);

  &__Wrap {
    @include sized();
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__Title {
    @include titleFont();
    font-weight: 600;
    font-size: 36px;
    margin: 0 0 50px;
  }
  &__Items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 (-15px) 0;
  }
  &__Item {
    margin: 0 15px 40px;
    width: calc(25% - 30px);
    min-width: 280px;
  }
  &__PagePointer {
    width: 100%;
    padding: 40px 70px;
    background-color: #f7fafd;
    border: 1px solid #ebeef1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__PointerText {
    font-family: 'Lato', serif;
    margin: 0;
    font-size: 20px;
    color: $grey;
    max-width: 450px;
    padding-right: 30px;
    transform: translateY(-2px);
  }

  &__PointerButton {
    max-width: 320px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 1250px) {
    &__Item {
      width: calc(50% - 30px);
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: $screen-md) {
    &__Items {
      margin: 0 (-15px);
    }
    &__PagePointer {
      padding: 30px;
    }
  }

  @media screen and (max-width: $screen-sm) {
    &__Wrap {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    &__Items {
      margin: 0 0;
      max-width: 600px;
    }
    &__Item {
      width: 100%;
      margin: 0 0 40px;
    }
    &__PagePointer {
      flex-direction: column;
      padding: 40px 20px;
    }
    &__PointerText {
      padding: 0;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

.ServiceItem {

  text-align: center;

  &__Image {
    display: block;
    position: relative;
    height: 220px;
    margin: 0 0 30px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($blue, .3);
      opacity: 0;
    }
  }
  &__Title {
    @include titleFont();
    display: block;
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 20px;
    padding: 0 20px;
    color: $dark-grey;
  }
  &__Text {
    font-size: 20px;
    color: $grey;
    margin: 0 0 5px;
  }
  &__MoreLink {
    font-family: 'Lato', serif;
    font-size: 20px;
    color: $blue;
    opacity: .7;

    &:hover {
      transition: .3s;
      opacity: 1;
    }
  }

  &:hover {
    .ServiceItem__Image::after {
      transition: .3s;
      opacity: 1;
    }
    .ServiceItem__Title {
      color: $blue;
      transition: .3s;
    }
  }
}
