.Service {
  border-top: 1px solid rgba($dark, .2);
  &__Wrap {
    @include sized();
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &__ServiceWrap {
    align-self: flex-start;
    max-width: 950px;
  }
  &__SupTitle {
    @include titleFont();
    font-weight: 600;
    font-size: 20px;
    color: $grey;
    margin: 0 0 20px;
  }
  &__Title {
    @include titleFont();
    font-weight: 600;
    font-size: 36px;
    margin: 0 0 40px;
  }
  &__Image {
    position: relative;
    height: 280px;
    overflow: hidden;
    margin-bottom: 70px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__Text {
    font-size: 20px;
    color: $grey;
    margin: 0 0 60px;
    & a {
      color: $blue;
    }
  }
  &__List {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 730px;
    margin-bottom: 50px;
    &:nth-last-of-type(2) {
      margin: 0;
    }
  }
  &__ListTitle {
    @include titleFont();
    font-weight: 500;
    font-size: 24px;
    margin: 0 0 10px;
  }
  &__ListRow {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 20px 0 15px;
    border-bottom: 1px solid #dcdfe2;

    &:last-child {
      border: none;
    }
  }
  &__RowTitle {
    font-size: 24px;
    color: $grey;
    min-width: 300px;
    padding-right: 20px;
  }
  &__RowValue {

  }
  &__Delimiter {
    display: block;
    width: 70px;
    height: 1px;
    background-color: rgba(#9ea2a9, .3);
    margin: 10px 0 20px;
  }
  &__Notes {
    color: rgba($grey, .7);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    & span {
      margin-bottom: 10px;
      &:last-of-type {
        margin: 0;
      }
    }
  }
  &__PagePointer {
    width: 100%;
    padding: 40px 70px;
    background-color: #f7fafd;
    border: 1px solid #ebeef1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__PointerText {
    font-family: 'Lato', serif;
    margin: 0 0 15px;
    font-size: 20px;
    color: $grey;
    //max-width: 450px;
    text-align: center;

    &--or {
      color: #b5b8bd;
      margin-bottom: 20px;
    }

    &:last-of-type {
    }

    & a {
      font-family: 'Montserrat', serif;
      font-weight: 600;
      font-size: 18px;
      color: $dark;
    }

    & span {
      white-space: nowrap;
    }
  }
  &__PointerButton {
    max-width: 280px;
    text-transform: uppercase;
  }
  &__BackLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    color: $blue;

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      background-image: url("../images/svg/left.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 10px;
      transform: translateY(2px);
    }
  }

  @media screen and (max-width: $screen-md) {
    &__Title {
      font-size: 30px;
    }
    &__Image {
      margin-bottom: 40px;
    }
    &__Text {
      margin: 0 0 50px;
    }
    &__ListRow {
      padding: 15px 0 10px;
    }
    &__PagePointer {
      padding: 40px 20px;
    }
  }

  @media screen and (max-width: $screen-sm) {
    &__Wrap {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    &__Image {
      height: 180px;
    }
    &__ListRow {
      padding: 15px 0;
      align-items: flex-start;
      flex-direction: column;
    }
    &__RowTitle {
      margin-bottom: 20px;
      font-size: 20px;
    }
    &__List {
      margin-bottom: 30px;
    }
    &__PagePointer {
      margin-bottom: 30px;
    }
  }
}

.ServiceRowValue {
  font-weight: 300;
  color: $blue;
  font-size: 24px;
  line-height: 1.2em;

  &__Amount {
    font-size: 48px;
  }

  @media screen and (max-width: $screen-sm) {
    font-size: 20px;

    &__Amount {
      font-size: 36px;
    }
  }
}
