include ../../mixins/contactLogo
include ../../mixins/input
include ../../mixins/button
include ../../mixins/recaptcha

section.Contact
  div.Contact__Wrap
    +ContactLogo.Contact__Logo
    h2.Contact__Title SEND A MESSAGE
    p.Contact__SubTitle Please fill out the form and our manager will get back to you asap.
    form(id="contact-form").ContactForm.Contact__Form.send-form
      div.ContactForm__Row
        +Input("contact-first-name", "First name")(required= true).ContactForm__Input
        +Input("contact-last-name", "Last name")(required= true).ContactForm__Input
      div.ContactForm__Row
        +Input("contact-email", "Email")(required= true).ContactForm__Input
        +Input("contact-phone", "Phone")(required= true).ContactForm__Input
      div.ContactForm__Row
        +Input("contact-message", "Your message", "textarea").ContactForm__Input
      +ReCaptcha("contact-form")
      +Button(id="contact-submit-button")(type="submit").ContactForm__Button SEND
      +Modal("contact-sent-message", "Thanks!")
        div.Message
          p.Message__Text Your message was sent successfully!
          +Button("contact-sent-message")(type="button").close-modal.Message__Button OK
