include ../../mixins/map

section.ContactMain
  +Map("google-map", region, language).ContactMain__Map
  div.ContactMain__Info
    div.ContactMain__InfoWrap
      p.ContactMain__Title COME & VISIT
      p.ContactMain__SubTitle Step by to say hello and ask us for our offers!
      span.ContactMain__Delimeter
      span.ContactMain__Row.ContactMain__Row--location
        span.hide-xs
          | Pergamou 17
          br
          | Nea Smyrni
          br
          | PO 17121
          br
          | Greece
        span.show-xs
          | Pergamou 17, Nea Smyrni
          br
          | PO 17121, Greece
      span.ContactMain__Row.ContactMain__Row--phone +30 695 181 2958
      span.ContactMain__Row.ContactMain__Row--mobile +30 210 925 5555
      a(href="mailto:info@skyrocket.gr").ContactMain__Row.ContactMain__Row--mail info@skyrocket.gr
