.Button {
  border: none;
  border-radius: 4px;

  box-sizing: border-box;
  border-bottom: 2px solid darken($blue, 10);
  background-color: $blue;
  font-family: 'Montserrat', serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-size: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;

  &:hover {
    transition: .3s;
    background-color: lighten($blue, 5);
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
    opacity: .5;
  }

  &--hollow {
    background-color: transparent;
    border: 2px solid $blue;
    color: $blue;

    &:hover {
      background-color: transparent;
      transition: .3s;
      color: lighten($blue, 10);
      border-color: lighten($blue, 10);

      & img, & object {
        transition: .3s;
        transform: rotate(180deg) translateX(-10px) scale(1.5);
        filter: brightness(1.1);
      }
    }
  }

  & img, & object {
    transition: .3s;
    pointer-events: none;
    display: inline;
    width: 24px;
    transform: rotate(180deg) scale(1.5);
    margin-left: 20px;
  }

  @media screen and (max-width: $screen-sm) {
    & img, & object {
      width: 20px;
    }
  }
}
