.CallForm {
  &__Title {
    color: $grey;
    font-size: 20px;
    max-width: 400px;
    text-align: center;
    margin: 0 auto 30px;
  }
  &__Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  &__Input {
    width: calc(50% - 30px);
    margin: 0 15px 20px;
  }
  &__ReCaptcha {
    margin: 0 auto 30px;
  }

  @media screen and (max-width: $screen-sm) {
    &__Title {
      margin-bottom: 20px;
    }
    &__Row {
      margin: 0;
    }

    &__Input {
      width: 100%;
      margin: 0 0 10px;
    }

    &__ReCaptcha {
      transform: translateX(-3.5%) scale(.93);
      margin: 0 auto 10px;
    }
  }
}
