.ContactLogo {
  @include logoDashes();
  $size: 120px;
  display: block;
  width: $size;
  height: $size;
  background-image: url("../images/png/envelope.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &::before, &::after {
    top: 60%;
  }
  &::before {left: -10px}
  &::after {right: -10px}
}
