.Footer {
  font-family: 'Lato', serif;
  position: relative;
  background-color: $dark;

  &__SocialList {
    @include sized();
    max-width: 680px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__Delimiter {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(#fff, .05);
  }

  &__Links {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    min-height: 190px;
    max-width: 840px;
    margin: 0 auto;
    padding: 40px 0;
  }

  &__LinksRow {
    display: flex;
    flex-direction: row;
  }

  &__Link {
    opacity: .7;
    color: #fff;
    font-family: 'Montserrat', serif;
    font-weight: 600;
    font-size: 18px;
    margin: 0 35px;
    flex: .5;

    &:hover {
      opacity: 1;
      transition: .3s;
    }
  }

  &__Copyright {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  @media screen and (max-width: $screen-sm) {
    &__SocialList {
      justify-content: center;
    }
    &__SocialLink {
      margin: 0 25px;
    }
    &__Links {
      flex-direction: column;
      align-items: center;
      max-width: 360px;
    }
    &__LinksRow {
      width: 80%;
      margin-bottom: 30px;
    }
    &__Link {
      margin: 0;
      width: 50%;
      text-align: center;
    }
    &__Copyright {
      position: static;
      transform: none;
      top: 0;
      left: 0;
    }
  }
}

.Copyright {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__Logo {
    display: block;
    margin-bottom: 20px;
  }
  &__Text {
    font-size: 16px;
    color: #84888b;
    margin-bottom: 20px;
  }

  &__Language {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Montserrat', serif;
    font-weight: 600;
    font-size: 18px;
    color: #84888b;

    &:hover {
      transition: .3s;
      color: #fff;
    }

    img {
      width: 25px;
      border-radius: 100%;
      margin-right: 10px;
    }
  }
}
