.Header {
  font-family: 'Lato', serif;
  position: absolute;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#fff, .5);
  }

  &__Logo {
    height: 30px;
    & img {
      height: 100%;
      float: left;
      transform: translateY(5%);
    }
  }
  &__Nav {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    list-style: none;

    & li {
      margin: 0 2vw;
    }
  }
  &__NavItem, &__Phone {
    font-family: 'Montserrat', serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__NavItem {
    opacity: .7;
    color: #fff;
    padding: 5px 0;;
    border-bottom: 2px solid transparent;

    &:hover {
      transition: .3s;
      border-color: #fff;
    }

    &.is-active {
      opacity: 1;
      border-color: #fff;
    }
  }
  &__NavFooter {

  }
  &__Phone {}
  &__MenuBtn {
    display: none;
    padding: 0;
    border: none;
    width: 25px;
    height: 25px;

    background-color: transparent;
    background-image: url("../images/svg/menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    opacity: .7;

    &.is-active {
      background-image: url("../images/svg/close.svg");
      background-size: 75%;
    }

    &:hover {
      opacity: 1;
      transition: opacity .3s;
    }
  }
  &__NavFooter {
    display: none;

    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 30px 0;
    background-color: rgba($dark, .7);
  }
  &__SocialList {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
  }
  &__SocialLink {
    margin: 0 25px;
  }
  &--inversed {
    background-color: #fff;

    .Header__NavItem {
      color: $dark;

    }
    .Header__NavItem:hover, .Header__NavItem.is-active {
      border-color: $dark;
    }

    .Header__MenuBtn {
      background-image: url("../images/svg/menu-dark.svg");

      &.is-active {
        background-image: url("../images/svg/close-dark.svg");
      }
    }
  }

  @media screen and (max-width: 1360px) {
    &__Nav {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }

  @media screen and (max-width: $screen-lg) {
    padding: 30px 20px 20px;
    &__Logo {
      height: 25px;
    }
    &__Nav {
      position: absolute;
      left: 0;
      top: 100%;
      //transform: translate3d(-50%, 0, 0);

      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      & li {
        margin: 0 40px;
      }
    }
    &--inversed {
      &::after {
        left: 20px;
        right: 20px;
        background-color: rgba($dark, .2);
      }

      .Header__Nav {
        background-color: #fff;
      }
    }
  }

  @media screen and (max-width: $screen-sm) {
    &__Nav {
      pointer-events: none;
      opacity: 0;
      z-index: -1;
      top: 100%;
      left: 0;
      width: 100%;
      display: block;
      height: auto;
      transform: translate3d(0, 0, 0);
      padding: 20px 0 0;
      background-color: rgba(#2a3250, .95);

      flex-direction: column;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#2a3250, .95);
      }

      & li {
        margin: 10px 20px 25px;
        &:last-of-type {
          margin-bottom: 30px;
        }
      }

      &.is-active {
        pointer-events: initial;
        transition: .3s;
        opacity: 1;
      }
    }
    &__NavItem {
      font-size: 24px;
    }
    &__Phone {
      display: none;
    }
    &__MenuBtn {
      display: block;
    }
    &__NavFooter {
      display: flex;
    }
    &--inversed {
      &::after {
        display: none;
      }
      .Header__Nav {
        background-color: rgba(#fff, .95);
        &::before {
          background-color: rgba(#fff, .95);
          border-bottom: 1px solid rgba($dark, .2);
        }
      }
    }
  }
}
