.Input {

  & input, & textarea {
    font-family: 'Lato', serif;

    width: 100%;
    padding: 20px;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid rgba($grey, .3);
    border-radius: 4px;

    &::placeholder {
      color: $grey;
    }

    &:disabled {
      pointer-events: none;
      cursor: default;
      opacity: .5;
    }
  }

  & textarea {
    min-height: 150px;
    resize: vertical;
  }
}
