.Map {
  min-height: 700px;
  & .gm-control-active.gm-fullscreen-control {
    opacity: 0;
    pointer-events: none;
  }
  &__FullscreenButton {
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
    transform: translateX(-50%);
    margin-right: 20px;
    border-radius: 0 0 4px 4px;

    &::after {
      content: '';
      display: block;

      background-image: url("../images/svg/full-screen-icon.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      width: 30px;
      height: 30px;

      opacity: .7;
    }

    &:hover {
      &::after {
        opacity: 1;
        transition: .3s;
      }
    }

    &.is-open {
      transform: none;
      margin: 20px 0 0;
      border-radius: 4px;
      &::after {
        background-image: url("../images/svg/exit-full-screen-icon.svg");
      }
    }
  }

  @media screen and (max-width: $screen-md) {
    &__FullscreenButton {
      transform: translateX(-100%);
      left: calc(100% - 320px) !important;
    }
  }

  @media screen and (max-width: $screen-sm) {
    &__FullscreenButton {
      transform: translateX(-100%);
      left: calc(100% - 10px) !important;
    }
  }
}
