.Message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 20px 30px;
  margin: -30px;

  &__Text {
    font-size: 20px;
    color: $grey;
    margin: 0 0 40px;
  }
  &__Button {
    max-width: 280px;
  }

  @media screen and (max-width: $screen-md) {
    padding: 40px 20px 30px;
  }

  @media screen and (max-width: $screen-sm) {
    padding: 30px 20px 30px;
  }
}
