.Modal {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  overflow-y: scroll;

  background-color: rgba(#313955, .8);

  &__Window {
    width: 100%;
    max-width: 680px;
  }
  &__Title {
    margin: 0;
    position: relative;
    display: block;
    width: 100%;
    @include titleFont();
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    background-color: #314e86;
    padding: 20px;
    text-align: center;
  }
  &__CloseButton {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .7;

    background-color: transparent;
    background-image: url("../images/svg/cancel.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    border: none;

    &:hover {
      opacity: 1;
      transition: .3s;
    }
  }
  &__Content {
    padding: 30px;
    background-color: #fff;
  }

  &.is-active {
    z-index: 30;
    pointer-events: initial;
    transition: opacity .3s;
    opacity: 1;
  }

  @media screen and (max-width: $screen-md) {
    justify-content: flex-start;
    padding-top: 10vh;
  }

  @media screen and (max-width: $screen-sm) {
    &__Content {
      padding: 20px;
    }
  }
}
