.PageTitle {
  position: relative;
  height: 415px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__Image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__Title {
    position: relative;
    color: #fff;
    font-size: 85px;
    @include titleFont();
    font-weight: 500;
  }

  @media screen and (max-width: $screen-md) {
    height: 370px;
    &__Title {
      font-size: 60px;
    }
  }

  @media screen and (max-width: $screen-sm) {
    height: 180px;
    &__Title {
      font-size: 40px;
    }
  }
}
