.Phone {
  font-family: 'Montserrat', serif;
  font-weight: bold;
  position: relative;
  color: #fff;
  padding-left: 30px;
  opacity: .7;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    width: 20px;
    height: 20px;
    background-image: url("../images/svg/phone.svg");
    background-size: contain;
    background-position: center;
  }

  &:hover {
    transition: .3s;
    opacity: 1;
  }

  &--inversed {
    color: $dark;

    &::before {
      background-image: url("../images/svg/phone-dark.svg");
    }
  }
}
