.SocialLink {
  $size: 35px;

  display: flex;
  flex-direction: row;
  align-items: center;

  opacity: .7;

  &__Icon {
    position: relative;

    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 100%;

    display: block;
    width: $size;
    height: $size;

    &::after {
      content: '';
      display: block;
      position: absolute;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      top: 50%;
      left: 50%;
      width: 60%;
      height: 60%;

      transform: translate3d(-50%, -50%, 0);
    }
  }

  &--instagram &__Icon::after {
    background-image: url("../images/svg/instagram.svg");
  }

  &--facebook &__Icon::after {
    background-image: url("../images/svg/facebook.svg");
  }

  &--linkedin &__Icon::after {
    background-image: url("../images/svg/linkedin.svg");
  }

  &__Caption {
    font-family: 'Montserrat', serif;
    font-weight: 600;
    color: #fff;
    margin-left: 20px;
    font-size: 20px;
  }

  &:hover {
    opacity: 1;
    transition: .3s;

    .SocialLink__Icon {
      transition: .3s;
      background-color: #fff;
      &::after {
        transition: .3s;
        filter: invert(14%) sepia(0%) saturate(1134%) hue-rotate(200deg) brightness(35%) contrast(93%);
        //filter: invert(14%) sepia(40%) saturate(17%) hue-rotate(50deg) brightness(90%) contrast(93%);
      }
    }
  }
}
