.PricingList {
  &__Wrap {
    @include sized();
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__Item {
    margin-bottom: 50px;

    &:last-of-type {
      margin: 0;
    }
  }

  @media screen and (max-width: $screen-sm) {
    &__Wrap {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

.Price {
  font-weight: 300;
  color: $blue;

  &--value {
    font-size: 48px;
  }

  &__Text {
    font-size: 24px;
  }

  &__Currency {
    font-size: 24px;
    margin-right: 10px;
  }
  &__Value {}
  &__Period {
    font-size: 24px;
    margin-left: 5px;
  }
}

.PricingItem {

  display: flex;
  flex-direction: row;
  align-items: stretch;

  &__Image {
    position: relative;
    min-width: 520px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__InfoWrap {
    border: 1px solid $light-grey;
    padding: 40px 30px;
  }
  &__Title {
    @include titleFont();
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 20px;
  }
  &__Price {
    margin: 0 0 20px;
  }
  &__Text {
    font-size: 20px;
    color: $grey;
    margin: 0 0 20px;
  }
  &__Delimeter {
    display: block;
    width: 70px;
    height: 1px;
    background-color: #9ea2a9;
    margin-bottom: 20px;
  }
  &__Note {
    display: block;
    font-size: 18px;
    color: rgba($grey, .7);
    margin: 0 0 10px;
    &:last-of-type {
      margin-bottom: 30px;
    }
    &::before {
      content: '*';
    }
  }
  &__CallRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  &__Button {
    max-width: 270px;
    margin-right: 20px;
  }
  &__CallUs {
    font-size: 20px;
    color: $grey;
    margin: 10px 0;

    & a {
      @include titleFont();
      white-space: nowrap;
      font-weight: 600;
      margin-left: 10px;
      color: $dark;
    }
  }

//  270
  @media screen and (max-width: $screen-md) {
    max-width: 720px;
    flex-direction: column;
    &__Image {
      min-width: auto;
      height: 270px;
    }
    &__Title {
      font-size: 30px;
    }
  }

  @media screen and (max-width: $screen-sm) {
    &__InfoWrap {
      padding: 30px 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__CallRow {
      flex-direction: column-reverse;
    }
    &__CallUs {
      margin: 0 0 10px;
      &--or {
        transform: translateY(-5px);
      }
    }
    &__Button {
      width: auto;
      margin: 0 20px;
    }
  }
}
