.About {
  &__Wrap {
    @include sized();
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__Logo {
    margin-bottom: 50px;
  }
  &__Title {
    @include titleFont();
    font-weight: 600;
    font-size: 36px;
    margin: 0 0 50px;
  }
  &__Text {
    font-size: 20px;
    color: $grey;
    margin: 0 0 50px;
    max-width: 800px;
    text-align: center;
  }
  &__Button {
    max-width: 300px;
  }

  @media screen and (max-width: $screen-md) {
    &__Logo {
      margin-bottom: 40px;
    }
    &__Title {
      font-size: 30px;
      margin-bottom: 40px;
    }
    &__Text {
      margin: 0 0 40px;
    }
  }

  @media screen and (max-width: $screen-sm) {
    &__Wrap {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    &__Text {
      font-size: 18px;
    }
  }
}
