.Benefits {
  background-color: #f7fafd;
  &__Wrap {
    @include sized();
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
  }

  &__Title {
    @include titleFont();
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 50px;
  }

  &__List {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: -50px;
  }

  &__Benefit {
    margin-bottom: 50px;
    width: 25%;
  }

  @media screen and (max-width: $screen-md) {
    &__Benefit {
      width: calc(100% / 3);
    }
  }

  @media screen and (max-width: $screen-sm) {
    &__Wrap {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    &__Benefit {
      width: 50%;
    }
  }
}

.Benefit {
  $size: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;

  &__Image {
    position: relative;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    & img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
  &__Title {
    color: $grey;
    font-size: 20px;
  }
}
