.Main {

  position: relative;
  background-image: url("../images/png/main-background.png");
  background-size: cover;
  background-position: center;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;

    top: 0;
    left: 0;
    right: 0;
    height: 50%;

    background: linear-gradient(180deg, rgba($dark-blue, .4), rgba($dark-blue, 0));
  }

  &__Wrap {
    @include sized();
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__Advantages {
    position: relative;
    color: #fff;
    font-size: 30px;
    margin: 10% 0 30px;
  }
  &__Title {
    @include titleFont();
    font-weight: 500;
    font-size: 85px;
    color: #fff;
    margin: 0 0 50px;
  }
  &__Button {
    max-width: 300px;
  }
  &__DownBtn {
    opacity: .7;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border: none;

    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-image: url("../images/svg/mouse.svg");

    &:hover {
      opacity: 1;
      transition: .3s;
    }
  }

  @media screen and (max-device-width: $screen-lg) {
    &__DownBtn {
      background-image: url("../images/svg/swipe.svg");
    }
  }

  @media screen and (max-width: $screen-md) {
    &__Advantages {
      font-size: 24px;
    }

    &__Title {
      font-size: 60px;
    }
  }

  @media screen and (max-width: $screen-sm) {
    &__Advantages {
      font-size: 18px;
    }

    &__Title {
      font-size: 45px;
    }
  }
}
