.Skyrocket {
  position: relative;
  overflow: hidden;

   img {
     float: left;
     width: 100%;
   }

  &__Wrap {
    @include sized();
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  &__Title {
    @include titleFont();
    font-size: 80px;
    font-weight: 500;
    color: #fff;
    margin: 0;
  }

  @media screen and (max-width: $screen-md) {
    &__Title {
      font-size: 50px;
    }
  }

  @media screen and (max-width: $screen-sm) {

    background-image: url("../images/png/skyrocket-background.png");
    background-size: auto 100%;
    background-position: left center;

    img {
      display: none;
    }

    &__Wrap {
      position: static;
      transform: none;
      height: 100px;
    }

    &__Title {
      font-size: 36px;
    }
  }
}
