.Space {

  overflow: hidden;

  &__Wrap {
    @include sized();
    max-width: 1920px;
    height: 400px;
    text-align: center;

    position: relative;
    background-repeat: no-repeat;
    background-image: url("../images/png/space-background.png");
    background-size: auto 250%;
    background-position: 40% 30%;

    &::before, &::after {
      content: '';
      display: block;
      position: absolute;

      top: 50%;
      width: 100%;
      height: 100%;

      background-image: url("../images/png/space-background.png");
      background-size: cover;
      background-position: 50% 30%;
      z-index: -1;
    }
    &::before {
      left: 4px;
      transform: translate3d(-100%, -50%, 0) scaleX(-1);
    }
    &::after {
      right: 2px;
      transform: translate3d(100%, -50%, 0) scaleX(-1);
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__Title, &__SubTitle {
    color: #fff;
    @include titleFont();
    font-size: 50px;
    margin: 0;
  }
  &__Title {
    font-weight: 600;
    margin-bottom: 20px;
  }
  &__SubTitle {
    font-weight: 600;
    padding: 10px 20px;
    background-color: #0c86c5;
  }

  @media screen and (max-width: 1180px) {
    &__Wrap {
      background-size: auto 250%;
      background-position: 50% 30%;
    }
  }

  @media screen and (max-width: $screen-md) {
    &__Wrap {
      background-size: 190%;
      background-position: 50% 30%;
    }
    &__Title {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    &__Title, &__SubTitle {
      font-size: 40px;
    }
    &__SubTitle {
      padding: 10px 30px;
    }
  }

  @media screen and (max-width: 890px) {
    &__Wrap {
      background-size: 190%;
      background-position: 50% 20%;
    }
  }

  @media screen and (max-width: $screen-sm) {
    background-size: 180%;
    background-position: 50% 25%;
    &__Wrap {
      height: 300px;
      padding-top: 25px;
      padding-bottom: 25px;
      justify-content: space-between;

      background-size: 190%;
      background-position: 50% 30%;
    }
    &__Title, &__SubTitle {
      margin: 0;
      font-size: 30px;
    }
    &__SubTitle {
      padding: 0;
      background: none;
      & span {
        display: inline-block;
        margin-bottom: 5px;
        white-space: nowrap;
        background-color: #0c86c5;
        line-height: 1.4em;
        padding: 0 10px;
      }
    }
  }
}
