.Subscribe {
  &__Wrap {
    @include sized();
    padding-top: 40px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__Logo {
    margin-bottom: 30px;
  }

  &__Title {
    @include titleFont();
    font-weight: 600;
    font-size: 36px;
    margin: 0 0 50px;
  }

  &__Form {
    width: 100%;
    max-width: 840px;
    display: flex;
    flex-direction: row;
  }

  &__Input {
    flex: 1;
    margin-right: 30px;
  }

  &__Button {
    max-width: 300px;
  }

  @media screen and (max-width: $screen-md) {
    &__Title {
      font-size: 30px;
    }

    &__Logo {
      $size: 100px;
      width: $size;
      height: $size;
    }

    &__Button {
      max-width: 270px;
    }
  }

  @media screen and (max-width: $screen-sm) {

    &__Wrap {
      padding-top: 30px;
      padding-bottom: 50px;
    }

    &__Form {
      flex-direction: column;
      align-items: center;
      max-width: 480px;
    }

    &__Input {
      width: 100%;
      margin: 0 0 30px;
    }
  }
}
