include ../../mixins/button

mixin Service(id, title, text)

  - link="/service.html"

  div(class="ServiceItem " + attributes.class)
    a(href= link).ServiceItem__Image
      img(src="images/png/service" + id + ".png" alt="Service image " + id)
    a(href= link).ServiceItem__Title= title
    p.ServiceItem__Text= text
    a(href= link).ServiceItem__MoreLink more...

section.ServicesMain
  div.ServicesMain__Wrap
    h2.ServicesMain__Title ΟΙ ΥΠΗΡΕΣΙΕΣ ΜΑΣ
    div.ServicesMain__Items
      +Service(
        1,
        "ΦΟΡΟΛΟΓΙΚΗ ΕΔΡΑ",
        "Αποκτήστε διεύθυνση εταιρείας και λάβετε " +
        "το μισθωτήριο συμβόλαιο κατάλληλο για κάθε νόμιμη χρήση"
      ).ServicesMain__Item
      +Service(
        2,
        "ΓΡΑΦΕΙΟ ΤΗΝ ΗΜΕΡΑ",
        "Ενοικιάστε επαγγελματικό και πλήρως εξοπλισμένο " +
        "γραφείο για όσο χρειάζεστε και χωρίς δεσμεύσεις"
      ).ServicesMain__Item
      +Service(
        3,
        "ΣΕΜΙΝΑΡΙΑ",
        "Οργανώστε σεμινάρια και εκπαιδευτικά μαθήματα " +
        "στον φιλικό και μοντέρνο χώρο μας"
      ).ServicesMain__Item
      +Service(
        4,
        "ΛΟΓΙΣΤΙΚΕΣ ΥΠΗΡΕΣΙΕΣ",
        "Εξελίξτε την εταιρεία σας εμπιστεύοντας τους " +
        "καλύτερους λογιστές του χώρου"
      ).ServicesMain__Item
    div.ServicesMain__PagePointer
      p.ServicesMain__PointerText
        | Step by to say hello and ask us for our offers!
      +Button("services-page-pointer-button", "hollow", true).ServicesMain__PointerButton
        | COME & VISIT US
