include ../../mixins/button
include ../../mixins/askForCallModal

mixin ServiceRow(title, value)
  div.Service__ListRow
    span.Service__RowTitle= title
    span.Service__RowValue.ServiceRowValue
      = value.before
      span.ServiceRowValue__Amount= " " + value.amount + " "
      = value.after

section.Service
  div.Service__Wrap
    div.Service__ServiceWrap
      p.Service__SupTitle COMPANY SEAT
      h2.Service__Title COMPANY SEAT IN ATHENS
      div.Service__Image
        img(src="images/png/service-detailed-background.png" alt="Service item image")
      p.Service__Text
        | You can start your own business fast and easy, without any worries.
        | Additionally, you can get an #[a(href="#") office for rent],
        | a brand-new website and an #[a(href="#") accountant in Athens].
        br
        br
        | You get a rental agreement (handwritten and electronic) for any legal use.
        | Your professional address will be our address (for your corporate documents,
        | business cards, Google/Internet accounts, etc.).
        | We also do a correspondence management (receipt and promotion of letters/parcels).

      div.Service__List
        p.Service__ListTitle PRICELIST:
        +ServiceRow("Company seat:", { before: "", after: "EUR/month (minimum 3 months)", amount: "40" })
        +ServiceRow("Company seat:", { before: "", after: "EUR/6 months", amount: "200" })
        +ServiceRow("Company seat:", { before: "", after: "EUR/year", amount: "350" })
      div.Service__List
        p.Service__ListTitle ADDITIONAL SERVICES:
        +ServiceRow("Office for rent:", { before: "", after: "EUR/day", amount: "30" })
        +ServiceRow("Office for rent:", { before: "", after: "EUR/month", amount: "300" })
        +ServiceRow("Office for rent:", { before: "", after: "EUR/6 months", amount: "1600" })
        +ServiceRow("Seminars:", { before: "", after: "EUR/day", amount: "100" })
        +ServiceRow("Website & hosting:", { before: "from", after: "EUR", amount: "500" })
        +ServiceRow("Accounting services:", { before: "Starting from", after: "EUR/month", amount: "250" })
      span.Service__Delimiter
      div.Service__Notes
        span *VAT 24% is not included
    div.Service__PagePointer
      p.Service__PointerText
        | If you have questions or you need more details,
        span please call at #[a(href="tel:+30 695 181 2958") +30 695 181 2958]
      p.Service__PointerText.Service__PointerText--or or
      +Button("services-page-pointer-button", "hollow", true)(type="button").Service__PointerButton.call-button
        | ASK FOR A CALL
    a(href="/services.html").Service__BackLink Back to services
  +AskForCallModal()
