include ../../mixins/screenLogo
include ../../mixins/button

mixin GridImage(index)
  div.Environment__Image
    a(href="images/png/environment" + index + ".png").Environment__Image__Wrap
      img(src="images/png/environment" + index + ".png" itemprop="thumbnail" alt="Skyrocket environment")

section.Environment
  div.Environment__Wrap
    +ScreenLogo().Environment__Logo
    h2.Environment__Title OUR FRIENDLY ENVIRONMENT
    p.Environment__Text
      | Skyrocket is all about progress and growth.
      | Build your own rocket and prepare to launch it!
    div.Environment__Grid.Grid
      div.Environment__GridRow.Grid__Row
        div.Environment__GridRow.Grid__Row.lg-8.md-12
          div.Environment__GridCol.Grid__Column.lg-8.md-8.sm-12
            +GridImage(1)
          div.Environment__GridCol.Grid__Column.lg-4.md-4.sm-6
            +GridImage(2)
            +GridImage(3)
          div.Environment__GridCol.Grid__Column.lg-4.md-4.sm-6
            +GridImage(4)
            +GridImage(5)
          div.Environment__GridCol.Grid__Column.lg-8.md-8.sm-12
            +GridImage(6)
        div.Environment__GridRow.Grid__Row.lg-4.md-12
          div.Environment__GridCol.Grid__Column.lg-12.md-6
            +GridImage(7)
          div.Environment__GridCol.Grid__Column.lg-12.md-6
            +GridImage(8)
    div.Environment__Services
      p.Environment__ServicesText
        | Our office is an ideal solution for entrepreneurs
        | who are looking for starting new business.
      +Button("prices-services-button", "hollow", true).Environment__ServicesButton
        span.hide-xs Check the prices and services
        span.show-xs Check the prices
