include button
include input
include modal
include recaptcha

mixin AskForCallModal(id)
  +Modal("call-modal", "Ask for a Call")
    form(id= id).CallForm.send-form
      p.CallForm__Title Please fill out the form and our manager will call you asap.
      div.CallForm__Row
        +Input('call-first-name', 'First Name').CallForm__Input(required=true)
        +Input('call-last-name', 'Last Name').CallForm__Input(required=true)
        +Input('call-email', 'Email').CallForm__Input(required=true)
        +Input('call-phone', 'Phone').CallForm__Input(required=true)
        +ReCaptcha('call-recaptcha').CallForm__ReCaptcha
      +Button('call-submit-button')(type="submit").CallForm__Button ASK FOR CALL
