mixin Button(id, type="filled", showArrow)
  button(
    id= id
    class= "Button Button--" + type + " " + attributes.class
    type= attributes.type
  )
    block
    if showArrow
      object(data="images/svg/left.svg" type="image/svg+xml")
        img(src="images/svg/left.svg" alt="arrow left")

