include socialLink

mixin Footer()
  footer(class="Footer " + attributes.class)
    div.hide-xs
      div.Footer__SocialList
        +SocialLink("#", "facebook", "FACEBOOK").Footer__SocialLink
        +SocialLink("#", "instagram", "INSTAGRAM").Footer__SocialLink
        +SocialLink("#", "linkedin", "LINKEDIN").Footer__SocialLink
    div.show-xs
      div.Footer__SocialList
        +SocialLink("#", "facebook").Footer__SocialLink
        +SocialLink("#", "instagram").Footer__SocialLink
        +SocialLink("#", "linkedin").Footer__SocialLink
    span.Footer__Delimiter
    div.Footer__Links
      div.Footer__LinksRow
        a.Footer__Link(href="/space.html" ) SPACE
        a.Footer__Link(href="/services.html" ) SERVICES
      div.Footer__LinksRow
        a.Footer__Link(href="/pricing.html" ) PRICING
        a.Footer__Link(href="/contact.html" ) CONTACT
      div.Copyright.Footer__Copyright
        a(href="/").Copyright__Logo
          img(src="images/png/logo.png" alt="SkyRocket logo")
        span.Copyright__Text Copyright © 2020 Skyrocket
        a(href="#").Copyright__Language
          img(src="images/png/flag.png" alt="SkyRocket flag")
          | GREEK
