include phone
include socialLink

mixin HeaderTag(inversed)
  if inversed
    header(class="Header Header--inversed " + attributes.class)
      block
  else
    header(class="Header " + attributes.class)
      block

mixin Header(inversed= false)
  +HeaderTag(inversed)(class= attributes.class)
    div.Header__Logo
      if inversed
        img(src="images/png/header-logo-dark.png" alt="SkyRocket Logo")
      else
        img(src="images/png/header-logo.png" alt="SkyRocket Logo")
    nav(id="header-menu").Header__Nav
      li: a.Header__NavItem(href="/" data-navTarget="") Home
      li: a.Header__NavItem(href="/space.html" data-navTarget="space") Space
      li: a.Header__NavItem(href="/services.html" data-navTarget="services") Services
      li: a.Header__NavItem(href="/pricing.html" data-navTarget="pricing") Pricing
      li: a.Header__NavItem(href="/contact.html" data-navTarget="contact") Contact

      div.Header__NavFooter
        div.Header__SocialList
          +SocialLink('#', 'facebook').Header__SocialLink
          +SocialLink('#', 'instagram').Header__SocialLink
          +SocialLink('#', 'linkedin').Header__SocialLink
        +Phone("+30-695-181-29-58").Header__MenuPhone +30 695 181 2958
    +Phone("+30-695-181-29-58", inversed).Header__Phone +30 695 181 2958
    a.Header__MenuBtn(id="header-menu-btn")
