mixin Input(id, placeholder, type= "input")
  div(class="Input Input--" + type + " " + attributes.class)
    if type === "input"
      input(
        id= id
        required= attributes.required
        placeholder= placeholder
      )
    else if type === "textarea"
      textarea(
        id= id
        required= attributes.required
        placeholder= placeholder
      )
