- GoogleAPIKey= "AIzaSyBxB1pq9kUH5I5I08nwIYI_YoJ7qN5_Dtg"

mixin Map(id, language, region)
  div(
    class="Map " + attributes.class
    id= id
  )
  script(
    src="https://maps.googleapis.com/maps/api/js"
      + "?key=" + GoogleAPIKey
      + "&language=" + language
      + "&region=" + region
  )


