include header
include footer
include modal

- RECAPTCHA_SITEKEY = "6Ley7_8UAAAAALI_POqIW_i7gRY8MUqnpHudkzL9"

mixin AppTag(language, inversedHeader)
  if inversedHeader
    div(class="App App--inversedHeader App--" + language): block
  else
    div(class="App App--" + language): block

mixin Page(language="el", region="GR", inversedHeader= false)
  doctype html
  html(lang= language + "-" + region)
      head
        link(rel="icon" type="image/x-icon" href="images/favicon.ico")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title Sky Rocket
        meta(name="description", content="Sky Rocket")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://smtpjs.com/v3/smtp.js" async=true)
        script(src="https://www.google.com/recaptcha/api.js?render=" + RECAPTCHA_SITEKEY async=true defer=true)
      body
        +AppTag(language, inversedHeader)

          +Header(inversedHeader).App__Header

          div.App__Content
            block

          +Footer().App__Footer
