mixin SocialLink(path, type, caption)
  a(
    class="SocialLink SocialLink--" + type + " " + attributes.class,
    href= path,
    target="_blank"
  )
    span.SocialLink__Icon
    if caption
      span.SocialLink__Caption= caption
