.show-lg {
  display: none !important;
  @media screen and (min-width: $screen-md) {
    display: initial;
  }
}
.show-md {
  display: none;
  @media screen and (max-width: $screen-md) and (min-width: $screen-sm) {
    display: initial;
  }
}
.hide-xs {
  display: initial;
  @media screen and (max-width: $screen-sm) {
    display: none;
  }
}
.show-xs {
  display: none;
  @media screen and (max-width: $screen-sm) {
    display: initial;
  }
}

.Grid {

  @mixin calcWidth($index) {
    width: 100% * ($index / 12);
  }

  &__Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__Column {
    display: flex;
    flex-direction: column;
  }

  @for $i from 1 through 12 {
    & .lg-#{$i} {
      @include calcWidth($i);
    }
  }

  @for $i from 1 through 12 {
    & .md-#{$i} {
      @media screen and (max-width: $screen-md) {
        @include calcWidth($i);
      }
    }
  }

  @for $i from 1 through 12 {
    & .sm-#{$i} {
      @media screen and (max-width: $screen-sm) {
        @include calcWidth($i);
      }
    }
  }
}
