@mixin sized() {
  width: 100%;
  margin: 0 auto;
  max-width: calc(#{$max-app-width} + 40px);
  min-width: calc(320px);
  padding: 0 20px;

  @media screen and (max-width: $screen-md) {
    //padding: 60px $base-offset * 2;
  }

  @media screen and (max-width: $screen-xs) {
    //padding: 40px $base-offset * 2;
  }
}

@mixin logoDashes() {
  position: relative;
  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 35px;
    height: 1px;
    background-color: #ccc;
  }
  &::before {left: -20px; transform: translate3d(-100%, -50%, 0)}
  &::after {right: -20px; transform: translate3d(100%, -50%, 0)}
}

@mixin titleFont() {
  font-family: 'Montserrat', serif;

  .App--el & {
    font-family: 'Open Sans', serif;
    line-height: 1.2em;
  }
}

@mixin baseFont() {
  font-family: 'Lato', serif;

  .App--el & {
    font-family: 'Open Sans', serif;
    line-height: 1.2em;
  }
}
