// MEASURES
$screen-xs: 360px;
$screen-sm: 760px;
$screen-md: 1024px;
$screen-lg: 1280px;

$max-app-width: $screen-lg;
$min-app-width: $screen-xs;

// COLORS
$dark: #282828;
$dark-grey: #323b42;
$light-grey: #d8dadc;
$grey: #686f7c;
$blue: #16a3ec;
$dark-blue: #041729;
