@import "~normalize-scss/sass/normalize";
@import "variables";
@import "mixins";
@import "common";
@import "fonts";

body {
  color: $dark-grey;
  margin: 0;

  * {
    box-sizing: border-box;
  }

  button {
    cursor: pointer;

    &:active, &:focus {
      outline: none;
    }
  }

  a {
    text-decoration: none;

    &:active, &:focus {
      text-decoration: none;
    }
  }
}

.App {
  @include baseFont();
  position: relative;
  overflow: hidden;

  &__Header {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &__Content {}
  &__Footer {}

  &--el {
    font-family: 'Open Sans', serif;
  }
  &--inversedHeader {
    .App__Header {
      position: relative;
      @media screen and (max-width: $screen-lg) {
        margin-bottom: 75px;
      }
      @media screen and (max-width: $screen-sm) {
        margin: 0;
      }
    }
  }
}

// COMPONENTS
@import "components/header";
@import "components/phone";
@import "components/socialLink";
@import "components/button";
@import "components/input";
@import "components/footer";
@import "components/modal";
@import "components/callForm";
@import "components/screenLogo";
@import "components/map";
@import "components/contactLogo";
@import "components/page-title";
@import "components/message";

// SCREENS
@import "screens/home/main";
@import "screens/home/about";
@import "screens/home/benefits";
@import "screens/home/space";
@import "screens/home/subscribe";
@import "screens/home/skyrocket";
@import "screens/space/environment";
@import "screens/contact/main";
@import "screens/contact/form";
@import "screens/pricing/list";
@import "screens/services/main";
@import "screens/services/service";
