.Environment {
  $grid-offset: 30px;
  $grid-offset-sm: 10px;
  $grid-col-height: 400px;
  $grid-col-height-md: 375px;
  $grid-col-height-sm: 50vw;

  &__Wrap {
    @include sized();
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__Logo {
    margin-bottom: 40px;
  }

  &__Title {
    @include titleFont();
    font-weight: 600;
    font-size: 36px;
    margin: 0 0 40px;
    text-align: center;
  }

  &__Text {
    font-size: 20px;
    color: $grey;
    max-width: 600px;
    margin: 0 auto 50px;
    text-align: center;
  }

  &__Grid {
    margin: -$grid-offset / 2;
    align-self: stretch;
  }

  &__GridCol {
    height: $grid-col-height;
    & > * {
      flex: 1;
      width: 100%;
    }
  }

  &__GridRow {

  }

  &__Image {
    margin: 0;
    padding: $grid-offset / 2;
    &__Wrap {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: block;
    }
    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__Services {
    width: 100%;
    padding: 40px 70px;
    background-color: #f7fafd;
    border: 1px solid #ebeef1;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__ServicesText {
    margin: 0;
    font-size: 20px;
    color: $grey;
    max-width: 450px;
    padding-right: 20px;
    transform: translateY(-2px);
  }

  &__ServicesButton {
    max-width: 500px;
    text-transform: uppercase;
  }

  @media screen and (max-width: $screen-md) {
    &__Title {
      font-size: 30px;
    }
    &__GridCol {
      height: $grid-col-height-md;
    }
    &__Services {
      flex-direction: column;
    }
    &__ServicesText {
      margin: 0 0 40px;
      text-align: center;
    }
  }

  @media screen and (max-width: $screen-sm) {

    &__Wrap {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    &__Title, &__Text {
      margin-bottom: 30px;
    }
    &__Grid {
      margin: -$grid-offset-sm / 2;
    }
    &__GridCol {
      height: $grid-col-height-sm;
    }
    &__Image {
      padding: $grid-offset-sm / 2;
    }
    &__Services {
      margin-top: 20px;
      padding: 40px 15px;
    }
  }
}
