include mixins/page

+Page("en", "US")
  include screens/home/main
  include screens/home/about
  include screens/home/benefits
  include screens/home/space
  include screens/home/subscribe
  include screens/home/skyrocket
