.Contact {
  &__Wrap {
    @include sized();
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__Logo {
    margin-bottom: 30px;
  }
  &__Title {
    @include titleFont();
    font-weight: 600;
    font-size: 36px;
    margin: 0 0 40px;
    text-align: center;
  }
  &__SubTitle {
    font-size: 20px;
    color: $grey;
    margin: 0 0 30px;
    max-width: 480px;
    text-align: center;
  }

  @media screen and (max-width: $screen-md) {
    &__Title {
      font-size: 30px;
    }
  }

  @media screen and (max-width: $screen-sm) {
    &__Wrap {
      padding-top: 50px;
    }
    &__Form {
    }
  }
}

.ContactForm {
  display: flex;
  flex-direction: column;
  max-width: 620px;
  margin: 0 auto;
  width: 100%;

  &__Row {
    display: flex;
    flex-direction: row;
    margin: 0 (-15px);
  }
  &__Input {
    flex: 1;
    margin: 0 15px 30px;
  }

  @media screen and (max-width: $screen-sm) {
    max-width: 480px;
    padding: 0 10px;
    &__Row {
      margin: 0;
      flex-direction: column;
    }
    &__Input {
      margin: 0 0 10px;
    }
  }
}
