.ContactMain {
  position: relative;

  &__Wrap {
    @include sized();

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__Map {

  }
  &__Info {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 50%;
    background-color: rgba($blue, .9);
    color: #fff;

  }

  &__InfoWrap {
    height: 100%;
    width: 100%;
    padding: 120px 20px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

  }

  &__Title {
    @include titleFont();
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 40px;
  }
  &__SubTitle {
    font-size: 20px;
    margin: 0 0 20px;
  }
  &__Delimeter {
    width: 40px;
    height: 1px;
    background-color: #fff;
    margin: 0 0 20px;
  }
  &__Row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.3em;

    &:last-child {
      margin: 0;
    }

    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 20px;
    }
    &--location {
      &::before {
        background-image: url("../images/svg/contact-mark.svg");
      }
    }
    &--phone {
      &::before {
        background-image: url("../images/svg/contact-phone.svg");
      }
    }
    &--mobile {
      &::before {
        background-image: url("../images/svg/contact-mobile.svg");
      }
    }
    &--mail {
      color: #fff;
      text-decoration: underline;
      &::before {
        background-image: url("../images/svg/contact-mail.svg");
      }
    }
  }

  @media screen and (max-width: $screen-md) {
    &__Info {
      width: 300px;
      left: calc(100% - 300px);
    }
    &__InfoWrap {
      padding: 120px 30px 0;
    }
  }

  @media screen and (max-width: $screen-sm) {
    &__Info {
      width: auto;
      height: auto;
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &__InfoWrap {
      padding: 30px;
      max-width: 330px;
      margin: 0 auto;
    }
    &__Title {
      margin-bottom: 20px;
    }
    &__Title, &__SubTitle {
      align-self: center;
      text-align: center;
    }
  }
}
