include ../../mixins/button
include ../../mixins/askForCallModal

mixin Price(price)
  if price.text
    div(class="Price Price--text " + attributes.class)
      span.Price__Currency= price.currency
      span.Price__Text= price.text + "*"
  else
    div(class="Price Price--value " + attributes.class)
      sup.Price__Currency= price.currency
      span.Price__Value= price.value
      span.Price__Period= "/" + price.period + "*"

mixin PricingItem(index, title, price, text, notes, phone)
  div(class="PricingItem " + attributes.class)
    div.PricingItem__Image
      img(src="images/png/pricing" + index + ".png" alt= title)
    div.PricingItem__InfoWrap
      p.PricingItem__Title= title
      +Price(price).PricingItem__Price
      p.PricingItem__Text= text
      span.PricingItem__Delimeter
      each note in notes
        span.PricingItem__Note= note
      div.PricingItem__CallRow
        +Button("pricing-call-button-" + index, "hollow", true).PricingItem__Button.call-button ASK FOR A CALL
        span.PricingItem__CallUs.PricingItem__CallUs--or.show-xs or
        span.PricingItem__CallUs
          span.hide-xs or&nbsp;
          | Call us at
          a(href="tel:" + phone)= phone

section.PricingList
  div.PricingList__Wrap
    +PricingItem(
      1,
      "COMPANY SEAT",
      { currency: "€", value: "40", period: "mo" },
      "You get a rental agreement (handwritten and electronic) for any legal use. " +
      "Your professional address will be our address (for your corporate documents, " +
      "business cards, Google/Internet accounts, etc.). " +
      "We also do a correspondence management (receipt and promotion of letters/parcels).",
      [ "VAT 24% is not included", "Minimum contract 3 months", "Office use NOT included" ],
      "+30 695 181 2958"
    ).PricingList__Item

    +PricingItem(
      2,
      "OFFICE FOR A DAY",
      { currency: "€", value: "30", period: "day" },
      "Our offices are fully equipped, have air conditioning and high speed Internet " +
      "connection. We also cover all the operational costs. It is an ideal solution " +
      "for businesses and professionals who are looking for a temporary workspace " +
      "for a certain period of time or for occasional use (for example business meetings, " +
      "interviews etc.)",
      ["VAT 24 % is not included", "Call us for Hourly/Monthly offers!"],
      "+30 695 181 2958"
    ).PricingList__Item

    +PricingItem(
      3,
      "SEMINARS",
      { currency: "€", value: "100", period: "day" },
      "You can plan your seminars and training program in a general space that can " +
      "accommodate up to 15 people. " +
      "The place is specially designed for educational purposes as well as for presentations and speeches.",
      ["VAT 24% is not included"],
      "+30 695 181 2958"
    ).PricingList__Item

    +PricingItem(
      4,
      "ACCOUNTING SERVICES",
      { currency: "€", text: "Offers upon request" },
      "We can undertake your B' and C' category accounting books as well as " +
      "company formations. We also provide full specter of accounting services " +
      "upon request.",
      ["Prices vary depending on each case"],
      "+30 695 181 2958"
    ).PricingList__Item
  +AskForCallModal("call-form")
